.logo img{
    width: 150px;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .about a{
    padding: 0 10px;
}

header .about a img{
    width: 32px;
    height: 32px;
}

.home{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main{
    flex: 1;
}

.p1{
    margin: 10px 0;
    padding: 50px 20px;
    display: flex;
}

.p1-left-box{
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}

.p1-right-box{
    width: 50%;
    text-align: center;
}

.p1-right-box img{
    width: 500px;
}

.footer{
    text-align: center;
    color: #999;
}
